.head{
    height: 130px;
    padding: 20px;
    display: flex;
    justify-content: left;
    flex-direction: row-reverse;
    justify-content: 40px;
    border: 8px solid black;
    border-radius: 3px;
    box-shadow: 5px 5px 19px rgb(31, 82, 31) ;
    margin-bottom: 10px;
}
.head:hover{
    color: rgb(180, 216, 144);
    cursor: pointer;
}
.down{
    height: 300vh;
    padding: 10px;
    background-color: rgb(138, 190, 190);
    border: 8px solid black;
    border-radius: 3px;
    background-image: url("spotify/All\ animal.png"); background-repeat: no-repeat;
    background-position: center;
    
}
.icon{
    border: 5px solid rgb(133, 180, 147); border-radius: 3px 3px;
    cursor: pointer;
    
}
.Web{
    color: darkgoldenrod;
}
.Story{
    padding: 20px;
    margin-top: 400px;
    
}