.head{
    height: 160px;
    padding: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: left;
    flex-direction: row-reverse;
    justify-content: 40px;
    border: 10px solid black;
    border-radius: 8px;
    box-shadow: 5px 5px 19px rgb(31, 82, 31) ;
}
.head:hover{
    color: rgb(180, 216, 144);
    cursor: pointer;
}
.down{
    margin-left: 20px;
    padding: 10px;
    
}
.icon{
    border: 5px solid green; border-radius: 2px 2px;
    cursor: pointer;
    
}
.Web{
    color: darkgoldenrod;
}